################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kalakobana/.vs/Kalakobana/FileContentIndex/2952edbc-cd58-4894-9c39-dd910e16bf62.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/3dd29794-5cdd-4782-85d6-34b1b0abd2b4.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/70d03eda-5f19-423a-8490-adc6453d1cec.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/7d5f7db4-ee95-4385-81fb-21edb7223a23.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/80286d70-9fa8-4c3b-9145-15e391f83b14.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/90790873-f5a1-45a4-8234-42fb904be482.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/b7ef0d60-5275-4f89-be87-8d1a53473cb1.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/c4c78585-a208-4c4a-bd3a-c506606a62c4.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/e914cb2a-c320-4a9d-aaf5-838b4101f28e.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/f0e3ef36-8215-45d5-aae4-bac069994585.vsidx
/Kalakobana/.vs/Kalakobana/FileContentIndex/feb65c8b-e996-49d6-bdb3-33870911e479.vsidx
